$fuschia: #eb2f64;
$lightFuschia: #ff3366;
$darkFuschia: #ba265d;
$lightestGrey: #faf9f9;
$lighterGrey: #f4f2f2;
$lightGrey: #f0eeee;
$grey: #ccc;
$darkestGrey: #333;
$darkerGrey: #777;
$darkGrey: #777;

$darkShadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);