$fuschia: #eb2f64;
$lightFuschia: #ff3366;
$darkFuschia: #ba265d;
$lightestGrey: #faf9f9;
$lighterGrey: #f4f2f2;
$lightGrey: #f0eeee;
$grey: #ccc;
$darkestGrey: #333;
$darkerGrey: #777;
$darkGrey: #777;
$white: #fff6f6;
$black: #0a0202;

$darkShadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
$darkShadowOne: 0 2rem 5rem rgba(0, 0, 0, .06);

$greyBorder: 1px solid $lightestGrey;

$breakPointLargest: 75em; // 1200px
$breakPointLarge: 68.75em; // 1100px
$breakPointMedium: 56.25em; // 900px