// Detail
.detail {
  font-size: 1.4rem;
  display: flex;
  padding: 4.5rem;
  background: $lightestGrey;
  border-bottom: $greyBorder;
  @media only screen and (max-width: $breakPointMedium) {
    padding: 3rem;
  }
  @media only screen and (max-width: $breakPointSmall) {
    flex-direction: column;
  }
}