// Button
.btn-inline {
  border: none;
  color: $fuschia;
  font-size: inherit;
  border-bottom: $greyBorder;
  padding-bottom: .2rem;
  display: inline-block;
  background: transparent;
  cursor: pointer;
  transition: all .2s;
    & span {
      margin-left: .3rem;
      transition: margin-left .2s;
    }
    &:hover {
      color: $darkestGrey;
      span {
        margin-left: .8rem;
      }
    }
    &:focus {
      outline: none;
      animation: pulsate 1s infinite;
    }
}