// Call To Action
.cta {
  padding: 3.5rem 0;
  text-align: center;
  @media only screen and (max-width: $breakPointMedium) {
    padding: 2.5rem 0;
  }
  &-book-now {
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 2.5rem;
  }
}