.btn {
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
  border-radius: 10rem;
  border: none;
  background: linear-gradient(to right, $lightFuschia, $darkFuschia);
  color: $white;
  position: relative;
  overflow: hidden;
  cursor: pointer;
    & > * {
      display: inline-block;
      height: 100%;
      width: 100%;
      transition: all .2s;
    }
    &-visible {
      padding: 2rem 7.5rem;
    }
    &-invisible {
      position: absolute;
      padding: 2rem 0;
      left: 0;
      top: -100%;
    }
    &:hover {
      background: linear-gradient(to left, $lightFuschia, $darkFuschia);
    }
    &:hover &-visible {
      transform: translateY(100%);
    }
    &:hover &-invisible {
      top: 0;
    }
    &:focus {
      outline: none;
      animation: pulsate 1s infinite;
    }
}