.header {
  font-size: 1.4rem;
  height: 7rem;
  background: #fff;
  border-bottom: $greyBorder;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media only screen and (max-width: $breakPointSmallest) {
    flex-wrap: wrap;
    align-content: space-around;
    height: 11rem;
  }
}