// UserNav
.user-nav {
    &-icon-box {

    }
    &-icon {
      height: 2.25rem;
      width: 2.25rem;
    }
    &-notification {

    }
    &-user {

    }
    &-user-photo {
      height: 3.75rem;
      border-radius: 50%;
    }
    &-user-name {
      
    }
}